{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<form action="/test" method="post" class="form-contact">
<p><label>Имя: </label> <input type="text" name="username" value="" requied />
<p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
<p><input type="submit" value="Войти" />
</form>
{% endblock %}