{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<p><label>Выберите файл: </label><form method=post enctype=multipart/form-data>
<input type=file name=file>
<p><input type=submit value="Загрузить">
</form>
{% endblock %}